{:deps {org.lwjgl/lwjgl {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-glfw$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-opengl$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.joml/joml {:mvn/version "1.10.8"}}

 :aliases {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}
                                ch.qos.logback/logback-classic {:mvn/version "1.4.14"}}
                   :jvm-opts ["-Djdk.attach.allowAttachSelf" "-XstartOnFirstThread"]
                   :main-opts ["-m" "cgl.core" "true"]}}}

